rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 1. 회원 정보 (users) 컬렉션 보안
    match /users/{userId} {
      allow get, create: if true;
      allow update, delete: if true; 
      allow list: if false;
    }

    // 2. 코디네이터 면담지 데이터 (records) 컬렉션 보안
    match /records/{recordId} {
      allow get, write: if true;
      allow list: if false;
    }

    // 3. 학교 담당자 공유 데이터 (shared_infra) 컬렉션 보안
    match /shared_infra/{schoolName} {
      allow get, write: if true;
      allow list: if false;
    }
  }
}
